.pagination-control {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pagination-control > .form-select {
    width: 70px;
}