.readme {
    padding: 2.5rem;
    background-color: #212529;
    color: #dee2e6;
}

.readme table {
    border: 2px solid rgb(136, 136, 136);
    margin: 1rem;
    min-width: 250px;
    float: left;
}

.readme hr {
    clear: both;
}

.readme thead:first-of-type {
    border-bottom-width: 2px;
  }

.readme td:first-of-type, .readme th:first-of-type{
    border: 0;
    border-right: 2px solid rgb(136, 136, 136);
    font-weight: bold;
    width: 80px;
}

.readme th{
    padding: 0.3rem;
}

.readme td{
    padding: 0.3rem;
    border: 1px solid rgb(136, 136, 136);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.image-container img {
    width: 100%;
    max-width: 500px;
    border: 2px solid #629df7;
    border-radius: 15px;
}

.image-container img:hover {
    outline: 2px solid #125dcc;
    border-color: #125dcc;
}

.image-container figcaption {
 text-align: center;
 color: #7c858d;
 font-size: 0.9rem;
}
