.readme {
    padding: 2.5rem;
}

.readme table {
    border: 2px solid rgb(136, 136, 136);
    margin: 1rem;
    min-width: 250px;
    float: left;
}

.readme h4:last-of-type {
    clear: both;
}

.readme thead:first-of-type {
    border-bottom-width: 2px;
  }

.readme td:first-of-type, .readme th:first-of-type{
    border: 0;
    border-right: 2px solid rgb(136, 136, 136);
    font-weight: bold;
    width: 80px;
}

.readme th{
    padding: 0.3rem;
}

.readme td{
    padding: 0.3rem;
    border: 1px solid rgb(136, 136, 136);
}

