* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert{
  padding: 0.2rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

html {
  min-width: 375px;
  scroll-behavior: smooth;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100vh;
}

.dashboard-items {
  position: absolute;
  left: 150px;
  width: calc(100vw - 200px);
  padding: 1rem;
}

.dark-mode-switcher{
  font-size: 1.4rem;
  margin: 0 auto;
}