* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert{
  padding: 0.2rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

html {
  min-width: 375px;
  scroll-behavior: smooth;
}

.dark-mode-switcher{
  font-size: 1.4rem;
}

.menuAssets{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

}

.cursor-pointer {
  user-select: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .display-none {
      display: none;
  }

  .menuAssets{
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 1rem;
  }

}
