* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert{
  padding: 0.2rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

html {
  min-width: 375px;
  scroll-behavior: smooth;
}

.dark-mode-switcher{
  font-size: 1.4rem;
}

.menu-assets{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-group-name, .menu-company-name{
  font-size: 0.7rem;
}

.cursor-pointer {
  user-select: none;
  cursor: pointer;
}

.width-150 {
  width: 150px;
}

.width-200 {
  width: 200px;
}

.max-width-115 {
  max-width: 115px;
}

.max-width-65 {
  max-width: 65px;
}

.modal-80w {
  min-width: 80%;
}

.modal-60w {
  min-width: 60%;
}

.modal-content {
  min-width: 360px;
}

@media (max-width: 768px) {
  .display-none {
      display: none;
  }

  .menu-assets{
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 0.5rem;
  }

  .mobil-menu-name-group-container{
    display: flex;
    width: 200px
  }

  .mobil-menu-icons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn-close{
    position: absolute;
    align-self: center;
    right: 10px;
    top: 10px;
    font-size: 1rem;
  }

}
