.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
}

.login-form .container {
    display: block;
    border-radius: 0.5rem;
    padding: 20px;
    width: 350px;
    border: 1px solid #dee2e6;
}

.dark {
    background-color: #2b3035;
}

.light {
    background-color: #f0efef;
}