.user-list {
    margin: 1rem;
}

.line-through {
    text-decoration: line-through;
}

input[type="checkbox"] {
    cursor: pointer;
}

/* @media (max-width: 768px) {
    .display-none {
        display: none;
    }
}

@include media-breakpoint-down(md) { 
    .display-none {
        display: none;
    }
} */